{% extends "layout.twig" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Метка № {{ tag.id }}</h5>
            <p class="card-text">
                <h1>{{ tag.name }}</h1>
            </p>

            <a href="http://cms.test/admin/tags" class="btn btn-primary">Вернутся назад</a>
        </div>
    </div>
{% endblock%}