<div class="sidebar">
    <h3 class="sidebar-title">Категории</h3>
    <div class="sidebar-item categories">
        <ul>
            <li><a href="#">Финансы <span>(25)</span></a></li>
            <li><a href="#">PHP <span>(92)</span></a></li>
            <li><a href="#">Laravel <span>(57)</span></a></li>
            <li><a href="#">Дизайн <span>(22)</span></a></li>
            <li><a href="#">Уроки <span>(149)</span></a></li>
        </ul>
    </div><!-- End sidebar categories-->

</div>